<!doctype html>
<html>
	<head>
		<title>Angular Tutorials</title>

		<link rel="stylesheet" type="text/css" href="style/css/custom/style-index.css">
		<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
	</head>
	<body data-ng-app="angular-tutorials-app"  data-ng-controller="BaseController as BaseCtrl" data-ng-strict-di class="custom-body">
		<header>
			<div class="jumbotron text-center">
				<h4>Angular 1.x Basics</h4>
			</div>
		</header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 text-center">
					<div class="jumbotron row">SCOPE VARIABLES</div>
					<br/>
					<div class="row">
						$scope.VAR1:
						<span class="var-value">{{VAR1}}</span>
					</div>
					<br/>
					<div class="row">
						$scope.VAR2:
						<span class="var-value" data-ng-bind="VAR2"></span>
					</div>
					<br/>
					<div class="row">
						$scope.currentTime:
						<span class="var-value" data-ng-bind="currentTime | date : 'medium'"></span>
					</div>
					<br/>
					<div class="row">
						<button
							type="button"
							class="btn btn-default"
							data-ng-click="updateTime()"
						>
						Change $scope Time
						</button>
					</div>
				</div>
				<div class="col-md-2 text-center">
					<br/><br/><br/><br/><br/>
					<br/><br/><br/><br/><br/>
					<br/><br/><br/>
					<div class="row">
						<button
							type="button"
							class="btn btn-default"
							data-ng-click=""
						>
						Invoke $scope refresh through ng-click
						</button>
					</div>
				</div>
				<div class="col-md-5 text-center">
					<div class="jumbotron row">CONTROLLER VARIABLES</div>
					<br/>
					<div class="row">
						BaseController.VAR1:
						<span class="var-value">{{BaseCtrl.VAR1}}</span>
					</div>
					<br/>
					<div class="row">
						BaseController.VAR2:
						<span class="var-value" data-ng-bind="BaseCtrl.VAR2"></span>
					</div>
					<br/>
					<div class="row">
						BaseController.currentTime:
						<span class="var-value" data-ng-bind="BaseCtrl.currentTime | date : 'medium'"></span>
					</div>
					<br/>
					<div class="row">
						<button
							type="button"
							class="btn btn-default"
							data-ng-click="BaseCtrl.updateTime()"
						>
						Change BaseCtrl Time
						</button>
					</div>
				</div>
			</div>
		</div>

		<br/>

		<!-- ng repeater table -->
		<div class="text-center">
			<h5>Students Table</h5>
		</div>
		<div class="container-fluid">
			<div class="row text-center">
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>College Year</th>
						<th>Credits Taken</th>
						<th>Points</th>
					</tr>
					<tr ng-repeat="student in BaseCtrl.students">
						<td ng-bind="student.name"></td>
						<td ng-bind="student.age"></td>
						<td ng-bind="student.collegeYear"></td>
						<td ng-bind="student.credits"></td>
						<td ng-bind="student.points"></td>
					</tr>
				</table>
			</div>
			<div class="row">
				<div class="text-center">
					<h5>New Student Entry Form</h5>
					<span class="var-value" ng-bind="formError"></span>
				</div>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-2" for="name">Name</label>
						<div class="col-md-5">
							<input id="name" type="text" data-ng-model="BaseCtrl.newStudent.name"/>
						</div>
						<div class="col-md-5">
							<span ng-bind="BaseCtrl.newStudent.name"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2" for="age">Age</label>
						<div class="col-md-5">
							<input id="age" type="number" data-ng-model="BaseCtrl.newStudent.age"/>
						</div>
						<div class="col-md-5">
							<span ng-bind="BaseCtrl.newStudent.age"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2" for="collegeYear">College Year</label>
						<div class="col-md-5">
							<input id="collegeYear" type="number" data-ng-model="BaseCtrl.newStudent.collegeYear"/>
						</div>
						<div class="col-md-5">
							<span ng-bind="BaseCtrl.newStudent.collegeYear"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2" for="credits">Credits</label>
						<div class="col-md-5">
							<input id="credits" type="number" data-ng-model="BaseCtrl.newStudent.credits"/>
						</div>
						<div class="col-md-5">
							<span ng-bind="BaseCtrl.newStudent.credits"></span>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-md-10 col-md-offset-2">
							<button
								type="button"
								class="btn btn-default"
								data-ng-click="BaseCtrl.addNewStudent()"
							>
							Add New Student
						</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10 col-md-offset-2">
							<button
								type="reset"
								value="Reset"
								class="btn btn-default"
							>
							Reset
						</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="libs/angular/angular.min.js"></script>
		<script src="libs/lodash/lodash.js"></script>
		<script src="AngularTut.min.js"></script>
	</body>
</html>
