<div class="container-fluid">
	<div class="row text-center">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>College Year</th>
				<th>Credits Taken</th>
				<th>Points</th>
			</tr>
			<tr ng-repeat="student in studentsListCtrl.students">
				<td ng-bind="student.name"></td>
				<td ng-bind="student.age"></td>
				<td ng-bind="student.collegeYear"></td>
				<td ng-bind="student.credits"></td>
				<td ng-bind="student.points"></td>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="text-center">
			<h5>New Student Entry Form</h5>
			<span class="var-value" ng-bind="formError"></span>
		</div>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-2" for="name">Name</label>
				<div class="col-md-5">
					<input id="name" type="text" data-ng-model="BaseCtrl.newStudent.name"/>
				</div>
				<div class="col-md-5">
					<span ng-bind="BaseCtrl.newStudent.name"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2" for="age">Age</label>
				<div class="col-md-5">
					<input id="age" type="number" data-ng-model="BaseCtrl.newStudent.age"/>
				</div>
				<div class="col-md-5">
					<span ng-bind="BaseCtrl.newStudent.age"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2" for="collegeYear">College Year</label>
				<div class="col-md-5">
					<input id="collegeYear" type="number" data-ng-model="BaseCtrl.newStudent.collegeYear"/>
				</div>
				<div class="col-md-5">
					<span ng-bind="BaseCtrl.newStudent.collegeYear"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2" for="credits">Credits</label>
				<div class="col-md-5">
					<input id="credits" type="number" data-ng-model="BaseCtrl.newStudent.credits"/>
				</div>
				<div class="col-md-5">
					<span ng-bind="BaseCtrl.newStudent.credits"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<button
						type="button"
						class="btn btn-default"
						data-ng-click="BaseCtrl.addNewStudent()"
					>
					Add New Student
				</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<button
						type="reset"
						value="Reset"
						class="btn btn-default"
					>
					Reset
				</button>
				</div>
			</div>
		</form>
	</div>
</div>